<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Synchronizer Token Pattern</title>
  <link rel="stylesheet" href="main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<body>
  <div class="section">
    <h1>Contact Information</h1>
    <form action="/formsubmit" method="POST">
      <input type="text" name="address" value="New Kandy Rd, Malabe 10115" placeholder="">
      <input type="text" name="phone" value="94 11 754 4801" placeholder="">
      <button type="submit" id="contactSubmit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
  </div>
  <script type="text/javascript">
    $.ajax({
      url: 'http://localhost:3000/token',
      cache: false,
      success: function(token) {
        console.log(token);
        $("#contactSubmit").before('<input type="text" name="_csrf" value="' + token + '" hidden>');
      }
    });
  </script>
</body>

</html>